<div id="container-view">
<h3><em><%= container.limit %></em></h3>
  <p>
    <%= button_to 'Edit', 'weddings/#{container.wedding.id/containers/#{container.id}/edit' %>
    <%= link_to 'Delete', '/containers/#{container.id}', method: :delete }%>
  </p>
</div>