<h2>Tables for the <%= @event.name %></h2>

<p><%= @wedding.guests %></p>



how do we set number of containers?

if x containers - create x rectanges on the screen..

then display container limit in each