/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 // @import "bourbon";
 // @import "comments";
 // @import "containers";
 // @import "events";
 // @import "foods";
 // @import "invitations";
 // @import "registries";
 // @import "users";
 // @import "wedding";


*{
   text-decoration: none;
}
h1, h2, h3 {
  font-family: 'Homemade Apple', cursive;
  text-decoration: none;
}

.regular  {
  font-family: 'Open Sans Condensed', sans-serif;
}


#map-canvas {
  height: 500px;
  width:700px;
}

// Nav Bar

.menu-wrap {
  font-family: 'Homemade Apple', cursive;
  text-decoration: none;
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding:0;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  height: 60px;
  background-color:#FFFFFF;
}

  .menu {
    list-style-type: none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
    text-decoration: none;
  }

  .menu li {
    margin: 10px;
    list-style-type: none;
    text-decoration: none;
  }

  .menu .arrow {
    font-size: 12px;
    line-height: 0%;
  }

  .menu ul ul {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 15px;
    margin-top: 4px;
  }

  .menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 15px;
    padding: 0px 0px 0px 0px;
    margin-top: 5px;
    margin-right: 10px;
    color: #FCFCFC;
  }

//Drop-down Menu

nav ul ul {
  background-color: #FFFFFF;
}

nav ul ul li {
  padding:10px 30px;
  display:none;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

nav ul ul:hover > li {
  padding:10px 30px;
  display:block;
  background-color: #FCFCFC;
  position: center;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

// Profile Pictures and Names
.profile_photo {
  float: right;
  height: 60px;
  width: 60px;
  margin-top: 0px;
  margin-right: 10px;
}

.profile_name {
  display: inline-block;
  float: right;
  padding: 0px 0px 0px 0px;
  margin-top: 20px;
  margin-right: 20px;
  color: #030303;
  font-size: 15px;
}

.letter {

}
