// Place all the styles related to the containers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Container Index
.container_container {
  font-family: 'Raleway', sans-serif;
}
.table_names {
  font-family: 'Raleway', sans-serif;
}

.pure_button {
  margin-left: 10px;
  margin-bottom: 10px;
}


.regular_font {
  font-family: 'Raleway', sans-serif;
}

// .guest_numbers {
//   font-family: 'Raleway', sans-serif;
//   font-size: 15px;
//   text-align: center;
//   box-shadow: 1px 1px 1px #888888;
//   padding-bottom: 10px;
// }

table {
  margin:0px;padding:0px;
  width:100%;
  // box-shadow: 1px 1px 1px #888888;
  // border:1px solid #000000;


  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;

  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;

  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;

  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;

}

.container_list table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}

.container_list tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}

.container_list table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}

.container_list table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}

.container_list tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}


.container_list tr:nth-child(odd){
  background-color:#e5e5e5;
}

.container_list tr:nth-child(even){
  background-color:#ffffff;
}

//Container Show Page
#table_dragDropContainer{  /* Main container for this script */
    width:790px;
    height:620px;
    margin-top: 100px;
    border:1px solid #317082;
    background-color:#FFF;
    -moz-user-select:none;
  }
  #table_dragDropContainer ul{ /* General rules for all <ul> */
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    padding:2px;
  }

// h1 {
//   padding: .2em; margin: 0; }

// #guests {
//   float:left; width:200px; height: 600px; margin-right: 20px; }

// #guests ul {
//   list-style: disc; padding: 1em 0 1em 3em;}

// .eventTable{ width: 200px; margin: 20px; float: left; }
// /* style the list to maximize the droppable hitarea */
// .eventTable ul { margin: 0; padding: 1em 0 1em 3em; list-style-type: decimal;  }

.listBlock {
    float: left;
}
#sortable1, #sortable2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 100px;
    background: #eee;
    padding: 5px;
    width: 300px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
#sortable1 li, #sortable2 li {
    color:black;
    cursor: move;
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 250px;
    background: none;
    background-color: white;
}
.selected {
  background: #EBFFFF !important;
}
.hidden {
    display:none !important;
}
ul {
    list-style-type: none;
}

// .container-column-2 {
//   float: right;
// }

// .container-column-1 {
//   float: left;
// }
