// Place all the styles related to the containers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Container Index
.container_container {
  font-family: 'Raleway', sans-serif;
}
.table_names {
  font-family: 'Raleway', sans-serif;
}

.pure_button {
  margin-left: 10px;
}

// .guest_numbers {
//   font-family: 'Raleway', sans-serif;
//   font-size: 15px;
//   text-align: center;
//   box-shadow: 1px 1px 1px #888888;
//   padding-bottom: 10px;
// }

table {
  margin:0px;padding:0px;
  width:100%;
  // box-shadow: 1px 1px 1px #888888;
  // border:1px solid #000000;

  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;

  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;

  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;

  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;

}

.container_list table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}

.container_list tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}

.container_list table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}

.container_list table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}

.container_list tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}


.container_list tr:nth-child(odd){
  background-color:#e5e5e5;
}

.container_list tr:nth-child(even){
  background-color:#ffffff;
}





//Container Show Page
#table_dragDropContainer{  /* Main container for this script */
    width:790px;
    height:620px;
    margin-top: 100px;
    border:1px solid #317082;
    background-color:#FFF;
    -moz-user-select:none;
  }
  #table_dragDropContainer ul{ /* General rules for all <ul> */
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    padding:2px;
  }

  #table_dragDropContainer #draggable {  /* Movable items, i.e. <LI> */
    list-style-type:none;
    height:20px;
    background-color:#EEE;
    border:1px solid #000;
    padding:2px;
    margin-bottom:2px;
    cursor:pointer;
    font-size:0.9em;
  }

  li#indicateDestination{ /* Box indicating where content will be dropped - i.e. the one you use if you don't use arrow */
    border:1px solid #317082;
    background-color:#FFF;
  }

  /* LEFT COLUMN CSS */
  div#table_listOfItems{ /* Left column "Guests" */
    float:left;
    padding-left:10px;
    padding-right:10px;
  }
  #table_listOfItems ul{ /* Left(Sources) column <ul> */
    height:560px;
  }

  div#table_listOfItems div{
    border:1px solid #999;
  }
  div#table_listOfItems div ul{  /* Left column <ul> */
    margin-left:10px; /* Space at the left of list - the arrow will be positioned there */
  }
  #table_listOfItems div p{  /* Heading above left column */
    margin:0px;
    font-weight:bold;
    padding-left:12px;
    background-color:#317082;
    color:#FFF;
    margin-bottom:5px;
  }
  /* END LEFT COLUMN CSS */

  #table_dragDropContainer .mouseover{ /* Mouse over effect DIV box in right column */
    background-color:#E2EBED;
    border:1px solid #317082;
  }

  /* Start main container CSS */

  div#table_mainContainer{ /* Right column DIV */
    width:590px;
    float:left;
  }
  #table_mainContainer div{  /* Parent <div> of small boxes */
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    margin-top:0px;
    border:1px solid #999;
  }
  #table_mainContainer div ul{
    margin-left:10px;
  }

  #table_mainContainer div p{  /* Heading above small boxes */
    margin:0px;
    padding:0px;
    padding-left:12px;
    font-weight:bold;
    background-color:#317082;
    color:#FFF;
    margin-bottom:5px;
  }

  #table_mainContainer ul{ /* Small box in right column ,i.e <ul> */
    width:152px;
    height:80px;
    border:0px;
    margin-bottom:0px;
    overflow:hidden;

  }

  #dragContent{ /* Drag container */
    position:absolute;
    width:150px;
    height:20px;
    display:none;
    margin:0px;
    padding:0px;
    z-index:2000;
  }

  #dragDropIndicator{ /* DIV for the small arrow */
    position:absolute;
    width:7px;
    height:10px;
    display:none;
    z-index:1000;
    margin:0px;
    padding:0px;
  }
  #table_dragDropContainer{
    border:0px;
    width:100%;

  }
