// Place all the styles related to the containers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// h1 {
//   padding: .2em; margin: 0; }

// #guests {
//   float:left; width:200px; height: 600px; margin-right: 20px; }

// #guests ul {
//   list-style: disc; padding: 1em 0 1em 3em;}

// .eventTable{ width: 200px; margin: 20px; float: left; }
// /* style the list to maximize the droppable hitarea */
// .eventTable ul { margin: 0; padding: 1em 0 1em 3em; list-style-type: decimal;  }

.listBlock {
    float: left;
}
#sortable1, #sortable2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 100px;
    background: #eee;
    padding: 5px;
    width: 300px;
    border: 1px solid black;
}
#sortable1 li, #sortable2 li {
    color:black;
    cursor: move;
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 250px;
    background: none;
    background-color: white;
}
.selected {
    background:red !important;
}
.hidden {
    display:none !important;
}
ul {
    list-style-type: none;
}
