// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_profile_container {
  text-align: center;
  background-color: #e6e6e6;
  padding-top: 10px;
   border-radius: 20px;
}

.user_form {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10px;
   border-radius: 20px;
}

#map-canvas {
  margin: 0 auto;
  height: 500px;
  width:700px;
   border-radius: 20px;

}

.eupc{
  font-family: 'Raleway', sans-serif;
  width: 100%;
   background-color: #e6e6e6;
  padding-bottom:10px;
  padding-left:10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  text-align: center;
  position: block;
  margin-top: -50px;
  z-index: -4;
   border-radius: 20px;
}
.image {
   border-radius: 10px;
}

