// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_profile_container {
  text-align: center;
  background-color: #e6e6e6;
  padding-top: 10px;
}