// Place all the styles related to the weddings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// All Titles
h1 {
  margin-top: 80px;
  text-align: center;
}

.catch {
  text-align: center;
}

.regular  {
  font-family: 'Raleway', sans-serif;
}
// Photos

.social_partner {
  width:200px;
  height:200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius:150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  position: relative;
  // border: 2px black;
  margin-top: -130px;
}

#partner {
  margin-top: 240px;
  text-align: center;
}

.note_container {
  background-color: #EBFFFF;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 500px;
  margin: 0 auto;
}

.social_cover_photo{
  margin-top: -200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 851px;
  min-width: 315px;
  width:100%;
  height: auto;
  // margin-right: -20px;
  position: absolute;
  overflow: scroll;
  display: block;

  right: 0;
  top: 0;
  background: bottom left repeat-x;
  z-index: -1;
}

#comment_photo {
  height: 25px;
  width: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

// Names and Form
.engaged_names{
  text-align: center;
}


// Notes for the social page
#social_comments {
  font-family: 'Homemade Apple', cursive;
}

.text_area_note {
  text-align: center;
}


.container {
  margin-top: -100px;
  padding: 0px 0px 0px 0px;
}

// All writing
.social_page_form_and_writing {
  background-color: #e6e6e6;
  height: 100%;
  z-index: 2;
  // height: 1000px;
  margin-top: -27px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // min-height: 851px;
  // min-width: 315px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 300px;
  padding-top: 10px;
  margin-left: -10px;
  width:100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  // height: auto;
  // // margin-right: -20px;
  // position: absolute;
  // overflow: scroll;
  // // display: block;

  // right: 0;
  // top: 0;
  // background: bottom left repeat-x;
}

.tabs {
  font-family: 'Homemade Apple', cursive;
  font-size: 2 rem;
}
#tabs-1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2 rem;
}

#tabs-3 {
  font-family: 'Homemade Apple', cursive;
  list-style-type:none;
}
  #tabs-3 #links:hover > a {
  // padding:10px 30px;
  display:block;
  background-color: #E4FFFF;
}
//Column 1 and 2
// .column_1_content{
//   float: left;
//   display: block;
//   float: left;
//   // margin: 0;
//   // padding: 0;
//   // border: 0;
//   // outline: 0;
//   width: 48%;
//   text-align: center;
//   font-family: 'Raleway', sans-serif;
//   padding-bottom: 10px;
//   height: 240px;
//   width: 48%;
//   background-color:  #EBFFFF;
// }

// .column_2_content{
//   float: right;
//   display: block;
//   width: 48%;
//   text-align: center;
//   padding-bottom: 10px;
//   height: 240px;
//   width: 48%;
//   background-color:  #EBFFFF;
// }

// .engaged_form{
//   margin: 0 auto;
//   background-color:  #EBFFFF;
//   padding-top:10px;
//   padding-bottom: 10px;
//   padding-left: 10px;
//   padding-right: 10px;
//   box-shadow: 0 0 1px rgba(0, 0, 0, .4);
//   height: 240px;
//   width: 383px;
//   text-align: center;
// }
// .column_container {
//   width: 100%;
// }

// Added photos
.collection{
  height: 230px;
  width: 330px;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
}

.collection_container {
}

//New Wedding Form
#new_wedding_form{
  text-align: center;
   display: block;
    background-color: #e6e6e6;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    padding: 10px 10px 10px 10px;
}

// Wedding index
.index_list {
  text-decoration: none;
 }

 .index {
  text-align: center;
  position: relative;
 }


#how_to_wed {
  text-align: center;

}





