<p class="wedding">
  <% @weddings.each do |wedding| %>
    <%= link_to wedding_guests_path(wedding, @guests) do %>
      <%= wedding.partner_1 %> &#38 <%= wedding.partner_2 %><br>
    <% end %>
  <% end %>
</p>