<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to WedWeb, <%= @wedding.partner_2 %></h1>
    <p>
       Your partner <%= @wedding.partner_1 %> has signed you up for WedWeb. Your personal wedding planner all-in-one!<br>
    </p>
    <p>
      To sign up, just follow this link: <%= link_to 'Sign up', new_user_path %>.
    </p>
    <p>Thanks for choosing WedWeb to organize your wedding and have a great day!</p>
  </body>
</html>