<div class = "nested-fields">
 <%= f.hidden_field :wedding_id, value: @wedding.id %>
 <%= f.hidden_field :song_id, value: @song.id %>
  <div class= "field">
      <%#= f.label : %>
      <%# f.number_field :food_choice %>
  </div>
  <div class= "submit-button">
    <% f.submit %>
  </div>
</div>